<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <section class="formBox" ng-controller="TodoController as $ctrl">
        <p class="listTitle">TODO List</p>
        <p class="listSub">A place to store things you have to do!</p>
        <input class="filter" type="text" placeholder="Filter list here" ng-model="$ctrl.filter">
        <ol>
            <li ng-repeat="todo in $ctrl.tasks | filter:$ctrl.filter">
                <!-- ng-if=todo.completed would hide all your complete buttons on your completed:false -->
                <!-- however, we want to hide the buttons if they are completed (which is true), so you want to do the opposite !todo.completed -->
                <div class="buttonAndTask">
                <span>{{$index + 1}}</span>
                <button class="completeButton" ng-if="!todo.completed" ng-click="$ctrl.completeTask($index)">Complete</button>
                <!--Task Name-->
                <!-- ng-class= "{add class name you want to add: reference what you want to tag it to}" -->
                <p ng-class="{completed: todo.completed}">{{ todo.task }}</p>
                </div>
                <img src="close icon.png" ng-click="$ctrl.removeTask($index)">
            </li>
        </ol>
        <!-- you need to create a new form to add ng-submit to -->
        <form ng-submit="$ctrl.add($ctrl.newTask)"> <!--$ctrl.add is referenicng the add function, $ctrl.newTask is referencing the new array you created-->
        <!--make sure you add a .task in the mg-model, because it is going to go where you referenced .task before-->
        <input type="text" placeholder="Add your to-do" class="addList" ng-model="$ctrl.newTask.task"> 
        <button class="addButton" ng-submt="$ctrl.add($ctrl.newTask)">Add</button>
        </form>
    </section>
    


    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
</body>
</html>